<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand ms-4" href="/home">BlueScript</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="customer">Customer</a>
      <a class="nav-item nav-link" routerLink="motor">Motor</a>
      <a class="nav-item nav-link" routerLink="endowment">Endowment</a>
      <a class="nav-item nav-link" routerLink="house">House</a>
      <a class="nav-item nav-link" routerLink="commercial"
        >Commercial Property</a
      >
      <a class="nav-item nav-link" routerLink="claim">Claim </a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="#" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="#" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>
