<div class="container">
    <h3 class="text-center">General Insurance Motor policy Menu</h3>
    <form [formGroup]="motorForm" class="mt-5">
        <div class="form-group mb-3">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <label class="mb-2">Policy Number </label>
                </div>
                <div class="col-md-4">
                    <input type="text" formControlName="policyNumber" (input)="requiredFieldKeyUp('PolicyNo')" class="form-control textbox" maxlength="10" [ngClass]="{ 'is-invalid': submitted && noPolicyNo}" />
                    <div *ngIf="submitted && noPolicyNo" class="invalid-feedback">
                        <div *ngIf="noPolicyNo">
                            Policy Number is required
                        </div>
                        <!-- <div *ngIf="f.policyNumber.errors.pattern">
                            Invalid Policy Number
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <label class="mb-2">Customer Number</label>
                </div>
                <div class="col-md-4">
                    <input type="text" formControlName="customerNumber" (input)="requiredFieldKeyUp('CustomerNo')" class="form-control textbox" [ngClass]="{ 'is-invalid': submitted && noCustomerNo }" />
                    <div *ngIf="submitted && noCustomerNo" class="invalid-feedback">
                        <div *ngIf="noCustomerNo">
                            Customer Number is required
                        </div>
                        <!-- <div *ngIf="f.customerNumber.errors.pattern">
                            Invalid Customer Number
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <label class="mb-2">Issue Date</label>
                </div>
                <div class="col-md-4">
                    <input type="date" formControlName="issueDate" class="form-control textbox" data-date-format="YYYY/MM/DD" [ngClass]="{ 'is-invalid': submitted && f.issueDate.errors }" />

                    <div *ngIf="submitted && f.issueDate.errors" class="invalid-feedback">
                        <div *ngIf="f.issueDate.errors.required">
                            Issue Date is required
                        </div>
                        <div *ngIf="f.issueDate.errors.pattern">
                            Issue Date must be a valid date in the format YYYY-MM-DD
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <label class="mb-2">Expiry Date</label>
                </div>
                <div class="col-md-4">
                    <input type="date" formControlName="expiryDate" class="form-control textbox" data-date-format="YYYY/MM/DD" [ngClass]="{ 'is-invalid': submitted && f.expiryDate.errors }" />

                    <div *ngIf="submitted && f.expiryDate.errors" class="invalid-feedback">
                        <div *ngIf="f.expiryDate.errors.required">
                            Issue Date is required
                        </div>
                        <div *ngIf="f.expiryDate.errors.pattern">
                            Issue Date must be a valid date in the format YYYY-MM-DD
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <label class="mb-2">Car Make</label>
                </div>
                <div class="col-md-4">
                    <input type="text" formControlName="carMake" class="form-control textbox" maxlength="20" [ngClass]="{ 'is-invalid': submitted && f.carMake.errors }" />
                    <div *ngIf="submitted && f.carMake.errors" class="invalid-feedback">
                        <div *ngIf="f.carMake.errors.required">Car Make is required</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <label class="mb-2">Car Model</label>
                </div>
                <div class="col-md-4">
                    <input type="text" formControlName="carModel" class="form-control textbox" maxlength="20" [ngClass]="{ 'is-invalid': submitted && f.carModel.errors }" />
                    <div *ngIf="submitted && f.carModel.errors" class="invalid-feedback">
                        <div *ngIf="f.carModel.errors.required">Car Model is required</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <label class="mb-2">Car Value</label>
                </div>
                <div class="col-md-4">
                    <input type="text" formControlName="carValue" class="form-control textbox" maxlength="6" [ngClass]="{ 'is-invalid': submitted && f.carValue.errors }" />
                    <div *ngIf="submitted && f.carValue.errors" class="invalid-feedback">
                        <div *ngIf="f.carValue.errors.required">Car Value is required</div>
                        <div *ngIf="f.carValue.errors.pattern">Invalid Car Value</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <label class="mb-2">Registration</label>
                </div>
                <div class="col-md-4">
                    <input type="text" formControlName="registration" class="form-control textbox" maxlength="7" [ngClass]="{ 'is-invalid': submitted && f.registration.errors }" />
                    <div *ngIf="submitted && f.registration.errors" class="invalid-feedback">
                        <div *ngIf="f.registration.errors.required">
                            Registration is required
                        </div>
                        <div *ngIf="f.registration.errors.pattern">
                            Registration Car Value
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <label class="mb-2">Car Color</label>
                </div>
                <div class="col-md-4">
                    <input type="text" formControlName="carColor" class="form-control textbox" maxlength="8" [ngClass]="{ 'is-invalid': submitted && f.carColor.errors }" />
                    <div *ngIf="submitted && f.carColor.errors" class="invalid-feedback">
                        <div *ngIf="f.carColor.errors.required">Car Color is required</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <label class="mb-2">CC</label>
                </div>
                <div class="col-md-4">
                    <input type="text" formControlName="cc" class="form-control textbox" maxlength="8" [ngClass]="{ 'is-invalid': submitted && f.cc.errors }" />
                    <div *ngIf="submitted && f.cc.errors" class="invalid-feedback">
                        <div *ngIf="f.cc.errors.required">CC is required</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <label class="mb-2">Manufacture Date</label>
                </div>
                <div class="col-md-4">
                    <input type="date" formControlName="manufactureDate" class="form-control textbox" data-date-format="YYYY/MM/DD" [ngClass]="{ 'is-invalid': submitted && f.manufactureDate.errors }" />

                    <div *ngIf="submitted && f.manufactureDate.errors" class="invalid-feedback">
                        <div *ngIf="f.manufactureDate.errors.required">
                            Manufacture Date is required
                        </div>
                        <div *ngIf="f.manufactureDate.errors.pattern">
                            Manufacture Date must be a valid date in the format YYYY-MM-DD
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <label class="mb-2">No of Accident</label>
                </div>
                <div class="col-md-4">
                    <input type="text" formControlName="noOfAccident" class="form-control textbox" maxlength="6" [ngClass]="{ 'is-invalid': submitted && f.noOfAccident.errors }" />
                    <div *ngIf="submitted && f.noOfAccident.errors" class="invalid-feedback">
                        <div *ngIf="f.noOfAccident.errors.required">
                            No of Accident is required
                        </div>
                        <div *ngIf="f.noOfAccident.errors.pattern">
                            Invalid No of Accident
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <label class="mb-2">Policy Premium</label>
                </div>
                <div class="col-md-4">
                    <input type="text" formControlName="policyPremium" class="form-control textbox" maxlength="6" [ngClass]="{ 'is-invalid': submitted && f.policyPremium.errors }" />
                    <div *ngIf="submitted && f.policyPremium.errors" class="invalid-feedback">
                        <div *ngIf="f.policyPremium.errors.required">
                            Policy Premium is required
                        </div>
                        <div *ngIf="f.noOfAccident.errors.pattern">
                            Invalid Policy Premium
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group d-flex justify-content-around mt-5">
            <button type="submit" class="btn btn-primary" (click)="policyInquiry()">Policy Inquiry</button>
            <button type="submit" class="btn btn-primary" (click)="policyAdd()">Policy Add</button>
            <button type="submit" class="btn btn-primary" (click)="policyDelete()">Policy Delete</button>

            <div *ngIf="isPolicyUpdate">
                <button type="submit" [disabled]="!isPolicyUpdate" class="btn btn-primary" (click)="policyUpdate()">Confirm Update</button>
            </div>
            <div *ngIf="!isPolicyUpdate">
                <button type="submit" [disabled]="isPolicyUpdate" class="btn btn-primary" (click)="policyUpdate()">Policy Update</button>
            </div>
            <button type="button" (click)="onReset()" class="btn btn-warning float-right">
        Reset
      </button>
        </div>
    </form>
</div>